body {
    padding-top: 0;
    padding-bottom: 3rem;
    background-image: url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.separador {
    margin: 4rem;
}

/* Boton subir */
#btnSubir {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
    font-size: 23px;
}

/* Barra de Navegación */
#navbar {
    font-weight: 900;
    font-size: xx-large;
    color: black;
    font-style: oblique;
}

.enlaces {
    font-weight: 900;
    font-size: large;
}

/* Carrusel */
.carrusel {
    margin-top: 0;
    margin-bottom: 5rem;
}

.banner {
    width: 100%;
    height: auto;
}

/* Ofertas pagina inicio */
.ofertas {
    font-weight: 700;
    line-height: 1;
    padding-top: 5rem;
    padding-left: 9rem;
    text-align: center;
    margin-right: 8rem;
}

.foto-ofertas {
    margin-left: 10rem;
    padding-left: 2rem;
}

/* Imágenes catálogo */

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 70%;
    margin: auto;
    grid-gap: 5px;
}

.galeria img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.2s;
}

.galeria a {
    display: block;
}

.galeria>a:hover img {
    transform: scale(1.5);
}

/* Galeria desplegada */

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 1000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s ease-in-out;
}

.light-box img {
    width: 75vw;
    max-width: 70vh;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #851919;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

/* Footer */

footer {
    padding-left: 5rem;
}

footer ul {
    list-style-type: none;
}

.footer-info {
    background-color: #212121;
    text-decoration-color: #ffffff;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.contacto {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .footer-info {
        flex-direction: row;
        justify-content: space-between;
    }
}

#info li {
    margin: 10px 0;
}

#info li img {
    width: 20px;
    margin-right: 5px;
}

.nom-footer {
    font-weight: bolder;
}

.footer-link {
    font-size: large;
    font-weight: 600;
    padding: -5rem;
    margin-left: 5px;
    color: black;
}

.img-footer {
    height: 30px;
    width: 20px;
}

article h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 50px;
}

article h3 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
    font-weight: 900;
}

article h5 {
    font-size: 30px;
}

article p {
    margin: 20px 10%;
    text-align: justify;
    font-size: 24px;
    color: #373a41;
    font-weight: 300;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

table td {
    border: 1px solid #000000;
    padding: 0.5em;
    margin: 0;
}

article .linea {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

article form {
    background-color: #c9c9c95e;
    border-radius: 5%;
    padding: 30px;
}

article form label {
    margin: 0 10px;
}

article form input,
article form textarea {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

article form textarea {
    min-height: 100px;
}

article #form {
    display: flex;
    justify-content: center;
    width: 100%;
}

#btnEnviar {
    background: #383838;
    color: white;
    border: none;
    min-width: 100%;
    font-size: 20px;
    font-weight: bold;
}